<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Campensation{% endblock %}</title>
	<meta name='description' content='{% block description %}Weekdays for working. Weekends for camping.{% endblock %}'/>

    <LINK href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- <LINK href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"> -->
	<LINK href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css">
    <LINK href="{{ STATIC_URL }}bootstrap/js/bootstrap.js" rel="stylesheet" type="text/css">
    <LINK href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>	

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/anza.js/"></script>
    
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28963741-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  {% block scripts %}{% endblock %}

</head>

<body onload="initialize()" style="" >

  {% block header %}{% endblock %}
  {% block content %}{% endblock %}    
  {% block footer %}{% endblock %}

</body>
</html>
