
{% extends 'base.html' %}
{%  block scripts %}
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCQB28sPVDMZ8ZOFk5koeZt3vPgCUUAI_M&sensor=true">
    </script>
    <script type="text/javascript">
        function initialize() {


            var SanFrancisco = new google.maps.LatLng(37.775, -122.255)

            /* 	TODO:  These distance functions work correctly but
             I don't know how to use the callback function to update the data.

             That is a cool feature


             var distanceService = new google.maps.DistanceMatrixService();
             function distanceCallback(response, status) {
             if (status == google.maps.DistanceMatrixStatus.OK) {
             var origins = response.originAddresses;
             var destinations = response.destinationAddresses;

             for (var i = 0; i < origins.length; i++) {
             var results = response.rows[i].elements;
             for (var j = 0; j < results.length; j++) {
             var element = results[j];
             var distance = element.distance.text;
             var duration = element.duration.text;
             var from = origins[i];
             var to = destinations[j];
             }
             }
             }
             }
             distanceService.getDistanceMatrix(
             {
             origins: [SanFrancisco],
             destinations: [campgroundList[i].location],
             travelMode: google.maps.TravelMode.DRIVING,
             avoidHighways: false,
             avoidTolls: false
             },
             distanceCallback);
             */


            // Setup campground list
            var campgroundList = [
                {% for campground in availableList %}
                    { 	name: '{{campground.facilityName}}',
                        location: new google.maps.LatLng({{campground.latitude}}, {{campground.longitude}}),
                        distance: '<Need to display distance>'
                    },
                {% endfor %}
            ];

            //Setup map
            var myOptions = {
                center: SanFrancisco,
                zoom: 7,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            // Setup markers
            for (i = 0; i < campgroundList.length; i++) {
                marker = new google.maps.Marker({
                    position: campgroundList[i].location,
                    map: map
                });


                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(campgroundList[i].name);
                        infowindow.open(map, marker);
                    }
                })(marker, i));

            }
        }
    </script>
    <script type="text/javascript">
        //<![CDATA[
        function get_form( element )
        {
            while( element )
            {
                element = element.parentNode
                if( element.tagName.toLowerCase() == "form" )
                {
                    //alert( element ) //debug/test
                    return element
                }
            }
            return 0; //error: no form found in ancestors
        }
        //]]>
    </script>

{%  endblock %}

{% block content %}
<div class="container content-wrap drop-shadow raised">
    <div class="header">
        <h1 class="site-logo"><a href="/">Campensation</a></h1><br />
        <p class="site-tagline">Weekdays for working. Weekends for camping.</p>
    </div>

    <div class="left-col">
        <ul class="nav nav-pills nav-stacked">
            {% for date in dateList %}
            <li {% ifequal date.isoformat currentDate %} class="active" {% endifequal %}>
                <a href="/{{ date.isoformat }}">{{ date }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
   
    <div class="right-col">
        <div class="cg-map">
            <div id="map_canvas" style=" width: 668px; height:300px; margin:0 auto; border: 1px solid #D1CBA1;"></div>
        </div>
        <ul class="cg-listings">
            {% for campground in availableList %}
            <li class="cg-listing">
                <div class="cg-listing-pic">
                    <img src='http://www.reserveamerica.com{{ campground.faciltyPhoto }}' alt="Sorry No Pic" width="80" height="53"/>
                </div>
                <div class="cg-listing-info">
                    {{ campground.facilityName|title }}
                </div>
                <form name="listing_form" action="http://www.reserveamerica.com/campsiteSearch.do" method='POST'>
                    <input type="hidden" name="arvdate" value="Fri {{ month }} {{day}} {{year}}">
                    <input type="hidden" name="lengthOfStay" value=2>
                    <input type="hidden" name="parkId" value="{{ campground.facilityID }}">
                    <input type="hidden" name="contractCode" value="{{campground.contractID}}">
                    <div class="cg-listing-reserve">
                        <a href="#" onclick="get_form(this).submit(); return false" class="btn">Reserve</a>
                    </div>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear-both"></div>
</div>
    
{%  endblock %}


<!-- <div class="span12">
    <ul class="thumbnails">
        {% for campground in availableList %}
            <li class="span2">
                <div class="thumbnail">
                    <img src='http://www.reserveamerica.com{{ campground.faciltyPhoto }}' alt="Sorry No Pic"/>
                    <h5>{{ campground.facilityName|title }}</h5>
                    <p>
                        {% ifequal campground.sitesWithPetsAllowed 'Y' %}
                            Pets are welcome!
                        {% endifequal %}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div> -->

<!-- <p>
    {% ifequal campground.sitesWithPetsAllowed 'Y' %}
    <span class="label label-success">Pets</span>
    {% endifequal %}
    {% ifequal campground.sitesWithWaterfront 'Y' %}
    <span class="label label-success">Waterfront</span>
    {% endifequal %}
</p> -->



