/********** RESET **********/
html { margin:0; padding:0; border:0; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
a img { border:none; }
:focus { outline:0; }
ul { list-style-type: none; }


/********** TYPOGRAPHY **********/
h1.site-logo a {
    font-family: "Cutive", Helvetica Neue, Helvetica, Arial;
    font-size: 48px;
    color: #70806F;
    text-decoration: none;
}

h1.site-logo a:hover {
    color: #87A185;
}

p.site-tagline {
    color: #666;
}

.nav-stacked li a {
    color: #70806F;
}

.nav-pills > li > a {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    
}

.nav-pills .active > a, .nav-pills .active > a:hover {
    background-color: #ADA679;
/*    -webkit-box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.25) inset;
       -moz-box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.25) inset;
*/}


/********** STRUCTURE **********/
body {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background: #d6e0c4 url('../images/tileable_wood_texture.png') repeat;
/*    background: #d6e0c4 url('../images/xv.png') repeat;*/
}

.content-wrap {
    margin: 30px auto;
    padding: 20px 20px 40px;
    width: 940px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
}

.header {
    padding: 30px 0;
}

.left-col {
    float: left;
    width: 220px;
}

.right-col {
    float: left;
    margin: 0 0 0 30px;
    width: 690px;
}

.cg-map {
    background-color: #d6e0c4;
    border: 1px solid #D1CBA1; 
    padding:10px 0; 
    margin-bottom: 10px;
}

.cg-map p {
    text-align: center;
    color: #70806F;
}

ul.cg-listings {
    border: 1px solid #D1CBA1;
}

li.cg-listing {
    border-top: 1px solid #D1CBA1;
    height: 53px;
    padding: 10px 0 ;
    opacity: 0.80;
}

li.cg-listing:hover {
    opacity: 1.0;
}

li.cg-listing:first-child {
    border: none;
}

.cg-listing-pic {
    float: left;
    margin-left: 10px;
    border: 1px solid #efefef;
}

.cg-listing-info {
    margin: 0 0 0 10px;
    float: left;
    color: #555555;
    font-size: 14px;
    margin-top: 16px;
}

.cg-listing-reserve {
    margin: 12px 10px 0 0;
    float: right;
}


/********** HELPERS **********/
.clear-both {
    clear: both;
}

.drop-shadow {
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.drop-shadow:after{
   right:10px;
   left:auto;
   -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
           transform: rotate(3deg);
 }
 
.raised {
-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3) inset;
   -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3) inset;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3) inset;
}

.raised-small {
-webkit-box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.25) inset;
   -moz-box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.25) inset;
        box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.25) inset;
}